h1 {
    box-shadow: inset 0 -0.5em var(--pink);
}

/* .h2-wrap {
    filter: drop-shadow(0.6em -0.6em 0 var(--black));
} */

.h2-wrap {
    position: sticky;
    top: 0;
    border-bottom: var(--border) solid var(--black);
    background: var(--light-grey);
    z-index: 1;
    margin-block-start: calc(6*var(--spacing));
}

h2 {
    background: var(--pink);

    padding-inline: 4%;
    max-inline-size: calc(20*var(--spacing));
    margin-block-start: initial;
    /* my fancy cut-out corner learned from professors Rijk and Michael on slack*/
    clip-path: polygon(
        0% 0%,
        calc(100% - calc(2*var(--spacing))) 0%,
        100% 100%,
        0% 100%
    );

    /* display: inline-block; */
    /* position: relative; */
    border-bottom: initial;
}

h2::before {
    content: '';
    background: var(--black);
    display: block;
    transform: rotate(142.8deg); 
    position: absolute;
    
    /* it was a pain to adjust the values to let the pseudo element perfectly sit on the edge.
    following 4 values work in relation to each other.  */
    inline-size: calc(0.9*var(--border));
    block-size: 161%;
    bottom: calc(-1.1*var(--spacing));
    right: calc(0.7*var(--spacing));
}

.highlight {
    text-decoration-color: var(--pink);
    text-decoration-line: underline;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 0.29em;
}

.numbers {
    font-family: var(--pixel-font);
    font-size: calc(3.5*var(--spacing));
    letter-spacing: calc(-0.2*var(--spacing));

    /* this line is for text stroke which I learned from https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/-webkit-text-stroke */
    -webkit-text-stroke: calc(0.7*var(--border)) var(--black);
    color: var(--pink);
}

.manifesto p{
    padding-block-start: calc(3*var(--spacing));
}

.folded-container::after {
    color: var(--pink);
}