h1 {
    font-family: var(--body-font);
    font-size: calc(2.3*var(--spacing));
    font-weight: 700;
    letter-spacing: calc(0.14*var(--spacing));
    line-height: calc(3*var(--spacing));
    text-transform: uppercase;
    /* padding-inline: 4%; */
}

.h1-deco,
.p-deco {
    border: var(--border) solid var(--black);

    /* --- I learned this rotating animation from here https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/At-rules/@keyframes */
    
    /* treating it as a block to make it move/animate */
    display: inline-block;
    /* transition takes 0.5s and uses an ease-in-out timing */
    transition: 0.5s ease-in-out; 

    /* animation: custom name | duration of one full cycle | timing function | iteration-count | delay */
    animation: rotating 4s ease infinite 0s;
}

.h1-deco {
    background: var(--pink);
    font-weight: 250;
    padding-inline: calc(0.7*var(--spacing));
}

.p-deco {
    background: var(--dark-grey);
    font-weight: 100;
    text-transform: uppercase;
    font-size: calc(1.2*var(--spacing));
    padding-inline: calc(0.7*var(--spacing));
    padding-block: calc(0.2*var(--spacing));
    margin-block: calc(0.3*var(--spacing));
}

/* --- I learned this rotating animation from here https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/At-rules/@keyframes */
/* we can name the @keyframe by anything */
@keyframes rotating { 

    /* start of animation cycle */
	0% {
        /* rotated 5 degrees clockwise (tilting to the right) */
		transform: rotate(5deg);
	}

    /* halfway point of animation cycle */
	50% {
        /* rotated 5 degrees opposite of clockwise (tilting to the left) */
		transform: rotate(-5deg); 
	}

    /* end point of animation cycle */
	100% {
		transform: rotate(5deg); 
	}
}

.h2-wrap {
    border-bottom: var(--border) solid var(--black);
}

h2 {
    background: var(--pink);
    padding-inline-start: 4%;

    /* my fancy cut-out corner learned from professors Rijk and Michael on slack*/
    clip-path: polygon(
        0% 0%,
        calc(100% - calc(2*var(--spacing))) 0%,
        100% 100%,
        0% 100%
    );

    border-bottom: initial;
    inline-size: initial;
    padding-inline-end: calc(2*var(--spacing));
    display: inline-block;
}

h2::before {
    content: '';
    background: var(--black);
    display: block;
    transform: rotate(142.8deg); 
    position: absolute;
    
    /* it was a pain to adjust the values to let the pseudo element perfectly sit on the edge.
    following 4 values work in relation to each other.  */
    inline-size: calc(0.9*var(--border));
    block-size: 161%;
    bottom: calc(-1.1*var(--spacing));
    right: calc(0.7*var(--spacing));
}

.numbers {
    font-family: var(--pixel-font);
    font-size: calc(3.5*var(--spacing));
    letter-spacing: calc(-0.4*var(--spacing));
    line-height: calc(2.2*var(--spacing));

    /* this line is for text stroke which I learned from https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/-webkit-text-stroke */
    -webkit-text-stroke: calc(0.7*var(--border)) var(--black);
    color: var(--pink);

    /* to treat every number as monospace due to different width of numbers */
    display: block;
    inline-size: calc(1*var(--spacing));
    text-align: left;
}

.numbers:nth-last-child(-n+2) {
    inline-size: calc(4.5*var(--spacing));
}

.manifesto {
    display: flex;
    flex-direction: column;
    margin-block-start: calc(1.6*var(--spacing));
    margin-block-end: calc(1.8*var(--spacing));
    gap: calc(0.6*var(--spacing));
}

.manifesto p{
    padding-block-start: initial;
}

.folded-container::after {
    color: var(--pink);
}

@media(width>600px) {
    h1 {
        font-size: calc(3*var(--spacing));
    }

    .h1-deco {
        padding-inline: calc(1*var(--spacing));
        padding-block: calc(0.3*var(--spacing));
    }
}

@media(width>800px) {
    h1 {
        font-size: calc(4*var(--spacing));
    }

    .h1-deco {
        padding-inline: calc(1.5*var(--spacing));
        padding-block: calc(1*var(--spacing));
    }
}

@media(width>1000px) {
    .h2-wrap {
        padding-block-start: var(--spacing);
    }

    h2 {
        padding-inline-end: 8%;
    }

    .manifesto-container {
        margin-inline-start: 4%;
        margin-inline-end: 8%;
    }

    .manifesto {
        flex-direction: row;
    }

    .manifesto p {
        padding-inline: 0;
        margin-inline: 0;
    }

    .numbers {
        text-align: right;
        padding-inline: 0;
        margin-inline: 0;
    }

    .selected-container {
        margin-inline-start: 20%;
        inline-size: 1fr;
    }
}

@media(width>1200px) {
    h1 {
        font-size: calc(5*var(--spacing));
    }

    .h1-deco {
        padding-inline: calc(1.5*var(--spacing));
        padding-block: calc(1.4*var(--spacing));
        margin-block: calc(1.2*var(--spacing));
    }
}