@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --spacing: 1.5rem;
    --pixel-font: "Pixelify Sans", sans-serif;
    --h2-font: "Noto Serif", serif;
    --body-font: "Roboto";

    --dark-blue: #0015D5;
    --light-blue: #1A90FF;
    --yellow: #F9FF8F;
    --black: #333333;
    --white: #FFFFFF;
}

html{scroll-behavior: smooth;}

nav,
p,
blockquote {
    padding-inline: 4%;
}

header ol {
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
}

p {
    font-family: var(--body-font);
    font-size: calc(0.8*var(--spacing));
    line-height: calc(1.3*var(--spacing));
}

header p{
    text-align: right;
}


h1{
    font-family: var(--body-font);
    font-size: calc(1.8*var(--spacing));
    font-weight: 550;
    text-transform: uppercase;
    align-items: end;
    color: var(--dark-blue);
    padding-inline: 4%;
    text-align: right;
}

h2{
    font-family: var(--h2-font);
    font-weight: 300;
    color: var(--white);
    font-size: calc(1.3*var(--spacing));
    background: var(--black);
    padding-block: calc(0.2*var(--spacing));
    padding-inline: calc(0.6*var(--spacing));
    margin-inline-start: calc(1*var(--spacing));
    align-items: end;
}

blockquote{
    font-family: var(--h2-font);
    color: var(--black);
    line-height: calc(1.3*var(--spacing));
    font-size: calc(0.9*var(--spacing));
}

