@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --spacing: 1.5rem;
    --pixel-font: "Pixelify Sans", sans-serif;
    --h2-font: "Noto Serif", serif;
    --body-font: "Roboto";

    --dark-blue: #0015D5;
    --light-blue: #319cff;
    --yellow: #F9FF8F;
    --black: #333333;
    --white: #FFFFFF;
}

html{scroll-behavior: smooth;}

body {
    background: var(--spacing);
    
    /* the following lines are creating the grid background by combining the horizontal and vertical lines*/
    background-image: 
        /* it's the vertical lines to the right) */
        linear-gradient(to right, #ebebeb 1px, transparent 1px),
        /* it's the horizontal lines to the bottom) */
        linear-gradient(to bottom, #ebebeb 1px, transparent 1px);
        
    /*change the values to keep the cells smaller or bigger*/
    background-size: calc(2*var(--spacing)) calc(2*var(--spacing));
    
    /* prevents the grid from moving when the user scrolls, and keeps it still/locked */
    background-attachment: fixed; 
}

nav,
p,
blockquote,
footer {
    padding-inline: 4%;
}

nav {
    position: sticky;
    top: 0;
    z-index: 2;
}

nav,
footer{
    background: var(--dark-blue);
    padding-block: calc(0.5*var(--spacing));
}

nav li,
footer li{
    font-family: var(--body-font);
    font-size: var(--spacing);
    text-transform: uppercase;
    color: var(--white);
    font-weight: 500;
}

footer li{
    font-family: var(--body-font);
    font-size: calc(0.8*var(--spacing));
    line-height: calc(1.5*var(--spacing));
    text-transform: uppercase;
    color: var(--white);
    font-weight: 500;
}

footer li:first-child{
    opacity: 70%;
    text-align: right;
}

footer{
    margin-block-start: calc(7*var(--spacing));
}

footer ol{
    display: flex;
    flex-direction: column;
    gap: calc(4*var(--spacing));
    padding-block: var(--spacing);
}

nav ol{
    display: flex;
    flex-direction: row;
    gap: calc(2*var(--spacing));
    justify-content: space-between;
}

header ol {
    display: flex;
    flex-direction: column;
    gap: calc(2*var(--spacing));
    padding-block: var(--spacing);
    /* padding-block: calc(4*var(--spacing)); */
    /* padding-inline: var(--spacing); */
}

p {
    font-family: var(--body-font);
    font-size: calc(0.8*var(--spacing));
    line-height: calc(1.5*var(--spacing));
    padding-block-end: calc(1.5*var(--spacing));
}

header p{
    text-align: right;
}


h1{
    font-family: var(--body-font);
    font-size: calc(1.2*calc(1.8*var(--spacing)));
    font-weight: 600;
    text-transform: uppercase;
    align-items: end;
    color: var(--dark-blue);
    padding-inline: 4%;
    text-align: right;
}

h2{
    font-family: var(--h2-font);
    font-weight: 400;
    color: var(--white);
    font-size: calc(1.3*var(--spacing));
    padding-block: calc(0.2*var(--spacing));
    padding-inline: calc(0.6*var(--spacing));
    margin-block-end: calc(1.5*var(--spacing));
    margin-block-start: calc(2.5*var(--spacing));
}

.h2-background {
    background: var(--black);
    padding-block: calc(0.3*var(--spacing));
    display: inline-block;
}

blockquote{
    font-family: var(--h2-font);
    color: var(--black);
    line-height: calc(1.3*var(--spacing));
    font-size: calc(0.9*var(--spacing));
}

.section{
    align-items: end;
    text-align: right;
}

.header{
    padding-block: calc(3*var(--spacing));
}

.pixel-font{
    font-family: var(--pixel-font);
    font-size: calc(1.2*calc(2*var(--spacing)));
    font-weight: 500;
}

.highlight{
    text-decoration-line: underline;
    text-decoration-color: var(--light-blue);
    text-decoration-thickness: 0.15em;
    text-underline-offset: 0.1em;
}

.bolded-text{
    font-size: calc(0.9*var(--spacing));
    text-transform: uppercase;
    color: var(--dark-blue);
    font-weight: 450;
    line-height: calc(1.6*var(--spacing));
    padding-block-start: calc(1.8*var(--spacing));
    padding-block-end: calc(3.2*var(--spacing));

    /* font-family: var(--h2-font);
    font-size: calc(0.9*var(--spacing));
    line-height: calc(1.4*var(--spacing));
    font-weight: 600;
    background: var(--white);
    border: solid 0.05em var(--light-blue);
    padding-block-start: calc(1.8*var(--spacing));
    margin-inline: 4%;
    margin-block-start: calc(0.3*var(--spacing));
    margin-block-end: calc(1.8*var(--spacing)); */
}


blockquote {
    background: var(--yellow);
    border: solid 0.05em var(--black);
    position: relative;
    margin-inline: 4%;
    margin-block: calc(2*var(--spacing));
    padding-block: calc(1.8*var(--spacing));
    padding-inline-start: calc(2*var(--spacing));
    z-index: 1;
    font-family: var(--h2-font);
    font-size: calc(0.8*var(--spacing));
    font-weight: 500;
    line-height: calc(1.4*var(--spacing));
}

blockquote ol{
    display: flex;
    flex-direction: column;
    gap: calc(1.6*var(--spacing));
}

blockquote::before {
    content: "“";
    position: absolute;
    left: 3%;
    top: calc(1.2*var(--spacing));
    font-family: var(--h2-font);
    font-weight: 800;
    font-size: calc(3*var(--spacing));
    color: var(--orange);
}

blockquote::after{
    content: "”";
    position: absolute;
    right: 3%;
    bottom: calc(2.5*var(--spacing));
    font-family: var(--h2-font);
    font-weight: 800;
    font-size: calc(3*var(--spacing));
    color: var(--orange);
}

.container {
    background: var(--white);
    border: solid 0.08em var(--light-blue);
    position: relative;
    margin-inline: 4%;
    margin-block: calc(2*var(--spacing));
    padding-block: calc(1.5*var(--spacing));
    /* padding-inline-start: calc(1*var(--spacing)); */
    z-index: 1;
}

.container ol{
    display: flex;
    flex-direction: column;
    gap: calc(1.6*var(--spacing));
}

.container p{
    padding-block-end: initial;
}

.container::before {
    content: "";
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    inline-size: 1em;
    block-size: 1em;
    border: 0.08em solid var(--light-blue);
    background: var(--white);
}

.container::after {
    content: "";
    position: absolute;
    bottom: -0.5em;
    left: -0.5em;
    inline-size: 1em;
    block-size: 1em;
    border: 0.08em solid var(--light-blue);
    background: var(--white);
}

a{
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.15em;
    transition: color 0.3s ease-in-out;
    text-transform: uppercase;
}

a:hover {
    background: var(--yellow);
}