@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Silkscreen:wght@400;700&display=swap');

:root{
    --spacing: 1.5rem;
    --heading-font: "Chivo Mono", monospace;
    --body-font: "DM Sans", sans-serif;
    --pixel-font: "Silkscreen", sans-serif;

    --black: #242424;
    --green: #76EAD3;
    --pink: #D6ABFF;
    --orange: #FFAB73;
    --light-grey: #EEF2F6;
    --dark-grey: #DBE2EA;
    --tab-color: #D1D7DD;

    background: var(--light-grey);
    color: var(--black);
    --border: calc(0.06*var(--spacing));
}

html{scroll-behavior: smooth;}

nav, footer {
    padding-inline: 4%;
    padding-block: var(--spacing);
    background: var(--black);
    text-transform: uppercase;
    color: var(--light-grey);
    font-family: var(--heading-font);
    font-size: calc(1.2*var(--spacing));
}

/* nav{
    position: sticky;
    top: 0;
    z-index: 2;
} */

nav ol {
    display: flex;
    flex-direction: row;
    gap: calc(2*(var(--spacing)));
    justify-content: space-between;
}

footer ol {
    display: flex;
    flex-direction: column;
    gap: calc(4*(var(--spacing)));
    justify-content: space-between;
}

footer li:first-child {
    opacity: 70%;
    text-align: right;
}

p{
    font-family: var(--body-font);
    font-size: calc(0.8*var(--spacing));
    line-height: calc(1.4*var(--spacing));
    padding-inline: 4%;
    padding-block-start: calc(1.4*var(--spacing));
    max-inline-size: 60ch;
}


h1 {
    font-family: var(--heading-font);
    font-size: calc(2.2*var(--spacing));
    font-weight: 550;
    line-height: calc(2.5*var(--spacing));
    display: inline-block;
    text-transform: uppercase;
    padding-inline: 4%;
}

h2 {
    font-family: var(--heading-font);
    font-weight: 400;
    text-transform: uppercase;
    font-size: calc(1.2*var(--spacing));
    padding-inline: 4%;
    padding-block: 0.25em;
    border-block: solid var(--black) var(--border);
    position: sticky;
    top: 0;
    margin-block-start: calc(4*var(--spacing));
    z-index: 1;
    /* margin-block-end: calc(0.8*var(--spacing)); */
}

blockquote {
    font-family: var(--heading-font);
    font-size: calc(0.9*var(--spacing));
    line-height: calc(1.4*var(--spacing));
    padding-inline-start: 8%;
    margin-inline: 4%;
    padding-block-start: calc(2.4*var(--spacing));
    max-inline-size: 60ch;
    margin-block-start: calc(2*var(--spacing));
}

blockquote ol {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    padding-block-start: var(--spacing);
}

blockquote li:last-child{
    text-transform: uppercase;
}

/* ---- this is quotation mark ---- */
blockquote::before{
    content: '“';
    font-family: var(--heading-font);
    font-size: calc(8*var(--spacing));
    line-height: var(--spacing);
    /* this line is for text stroke which I learned from https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/-webkit-text-stroke */
    -webkit-text-stroke: var(--border) var(--black);
    color: var(--green);
    position: absolute;
    left: 8%;
}

/* ---- this is vertical line ---- */
blockquote::after{
    content: '';
    font-family: var(--heading-font);
    inline-size: var(--spacing);
    block-size: 100%;
    background: var(--green);
    border: var(--border) var(--black);
    position: absolute;
    left: 4%;
    display: inline-block;
}

.pixel-font{
    font-family: var(--pixel-font);
    font-size: calc(2.4*var(--spacing));
    font-weight: 500;
}

.highlight{
    text-decoration-line: underline;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 0.15em;
}

.window-container {
    background: var(--dark-grey);
    border: var(--border) solid var(--black);
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-inline: 4%;
    margin-block: calc(2*var(--spacing));
    inline-size: 90%;
    box-shadow: 0.6em 0.6em 0 var(--black);
    /* filter: drop-shadow(5px 5px var(--black)); */

}

.window-container ol {
    display: flex;
    flex-direction: column;
    gap: calc(2.5*var(--spacing));
    background: var(--dark-grey);
    padding-inline: 6%;
    padding-block: calc(2*var(--spacing));
}

/* NOT WORKING....
.section{
    margin-block: calc(2*var(--spacing));
} */


/*NEED TO CHANGE THIS TWO
.bolded-text,
blockquote {
    padding-inline-start: 20%;
}
*/