@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Silkscreen:wght@400;700&display=swap');

:root{
    --spacing: 1.5rem;
    --heading-font: "Chivo Mono", monospace;
    --body-font: "DM Sans", sans-serif;
    --pixel-font: "Silkscreen", sans-serif;

    --black: #242424;
    --green: #76EAD3;
    --pink: #D6ABFF;
    --orange: #FFAB73;
    --light-grey: #EEF2F6;
    --dark-grey: #DBE2EA;
    --tab-color: #D1D7DD;

    background: var(--light-grey);
    color: var(--black);
    --border: 0.08rem;
}

html{scroll-behavior: smooth;}

nav, footer {
    padding-inline: 4%;
    padding-block: var(--spacing);
    background: var(--black);
    text-transform: uppercase;
    color: var(--light-grey);
    font-family: var(--heading-font);
    font-size: calc(1*var(--spacing));
}

/* nav{
    position: sticky;
    top: 0;
    z-index: 2;
} */

nav ol {
    display: flex;
    flex-direction: row;
    gap: calc(2*(var(--spacing)));
    justify-content: space-between;
}

footer ol {
    display: flex;
    flex-direction: column;
    gap: calc(4*(var(--spacing)));
    justify-content: space-between;
}

footer li:first-child {
    opacity: 70%;
    text-align: right;
}

footer {
    margin-block-start: calc(8*var(--spacing));
}

p {
    font-family: var(--body-font);
    font-size: calc(0.75*var(--spacing));
    line-height: calc(1.4*var(--spacing));
    padding-inline: 4%;
    padding-block-start: calc(1.4*var(--spacing));
    max-inline-size: 60ch;
}


h1 {
    font-family: var(--heading-font);
    font-size: calc(2*var(--spacing));
    font-weight: 550;
    line-height: calc(2.5*var(--spacing));
    display: inline-block;
    text-transform: uppercase;
    padding-inline: 4%;
}

h2 {
    font-family: var(--heading-font);
    font-weight: 400;
    text-transform: uppercase;
    font-size: calc(1.2*var(--spacing));
    padding-inline: 4%;
    padding-block: 0.25em;
    border-block: solid var(--black) var(--border);
    position: sticky;
    top: 0;
    margin-block-start: calc(6*var(--spacing));
    z-index: 1;
    /* margin-block-end: calc(0.8*var(--spacing)); */
}

blockquote {
    font-family: var(--heading-font);
    font-size: calc(0.8*var(--spacing));
    line-height: calc(1.4*var(--spacing));
    padding-inline-start: calc(2*var(--spacing));
    margin-inline: 4%;
    padding-block-start: calc(2.4*var(--spacing));
    max-inline-size: 60ch;
    margin-block-start: calc(4*var(--spacing));
    margin-block-end: calc(3.5*var(--spacing));
    position: relative;
}

blockquote ol {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    padding-block-start: var(--spacing);
}

blockquote li:last-child{
    text-transform: uppercase;
}

/* ---- this is quotation mark ---- */
blockquote::before{
    content: '“';
    font-family: var(--heading-font);
    font-size: calc(8.5*var(--spacing));
    line-height: var(--spacing);
    /* this line is for text stroke which I learned from https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/-webkit-text-stroke */
    -webkit-text-stroke: calc(0.7*var(--border)) var(--black);
    position: absolute;
    left: var(--spacing);
}

/* ---- this is vertical line ---- */
blockquote::after{
    content: '';
    font-family: var(--heading-font);
    inline-size: calc(0.8*var(--spacing));
    block-size: 100%;

    box-shadow: 
        -0.04em  -0.04em  0  var(--black), 
         0.04em  -0.04em  0  var(--black), 
        -0.04em   0.04em  0  var(--black), 
         0.04em   0.04em  0  var(--black);

    /* Almost the same thing above, but i want to go for simpler way

        box-shadow: 
        calc(-1*var(--border)) calc(-1*var(--border)) 0 var(--black), 
        var(--border) calc(-1*var(--border)) 0 var(--black), 
        calc(-1*var(--border)) var(--border) 0 var(--black), 
        var(--border) var(--border) 0 var(--black); 
     */

    position: absolute;
    top: 0;
    left: 0;
}

.pixel-font{
    font-family: var(--pixel-font);
    font-size: calc(2.2*var(--spacing));
    font-weight: 500;
}

.highlight{
    text-decoration-line: underline;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 0.29em;
}

.bolded-text{
    text-transform: uppercase;
    font-family: var(--heading-font);
    padding-block-start: calc(2.8*var(--spacing));
    padding-block-end: calc(1.4*var(--spacing));
    margin-inline: calc(1.2*var(--spacing));
    max-inline-size: 50ch;
    /* display: inline-block; */
}

.window-container {
    background: var(--dark-grey);
    border: var(--border) solid var(--black);
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-inline: 4%;
    margin-block: calc(2*var(--spacing));
    inline-size: 90%;
    max-inline-size: calc(26*var(--spacing));
    box-shadow: 0.6em -0.6em 0 var(--black);
}

.window-container ol {
    display: flex;
    flex-direction: column;
    gap: calc(2.5*var(--spacing));
    background: var(--dark-grey);
    padding-inline: 6%;
    padding-block: calc(2*var(--spacing));
}

.folded-container {
    position: relative;
    margin-inline: 4%;
    margin-block-end: calc(2*var(--spacing));
    margin-block-start: calc(4*var(--spacing));
    background: var(--dark-grey);
    border: var(--border) solid var(--black);
    corner-shape: bevel;
    border-radius: 0 calc(4*var(--spacing)) 0 0;
    box-shadow: 0.6em -0.6em var(--black);
    max-inline-size: calc(20*var(--spacing));
}

.folded-container p{
    font-family: var(--heading-font);
    font-size: calc(0.8*var(--spacing));
    line-height: calc(1.4*var(--spacing));
    padding-inline: calc(1.2*var(--spacing));
    padding-block-end: calc(1.4*var(--spacing));
    padding-block-start: calc(5*var(--spacing));
    text-transform: uppercase;
}

/* --- this is folded corner --- */
.folded-container::before {
    content: '';
    position: absolute;
    top: calc(0.8*var(--spacing));
    right: calc(0.8*var(--spacing));
    inline-size: calc(3.2*var(--spacing));
    block-size: calc(3.2*var(--spacing));
    
    /* drawing the L-shaped line using borders */
    border-left: var(--border) solid var(--black);
    border-bottom: var(--border) solid var(--black);
}

/* --- this is question matrk --- */
.folded-container::after {
    content: '?';
    position: absolute;
    font-family: var(--pixel-font);
    font-size: calc(4.5*var(--spacing));
    line-height: var(--spacing);
    /* this line is for text stroke which I learned from https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/-webkit-text-stroke */
    -webkit-text-stroke: calc(0.7*var(--border)) var(--black);
    top: calc(2*var(--spacing));
    left: calc(0.7*var(--spacing));
}

/* NOT WORKING....
.section{
    margin-block: calc(2*var(--spacing));
} */

/*
    create nice shape-1, shape-2 by using bevel corners...
*/

.selected-container {
    border: solid var(--border) var(--black);
    position: relative;
    margin-inline: 4%;
    margin-block-start: calc(3*var(--spacing));
    margin-block-end: calc(1.6*var(--spacing));
    padding: calc(1.2*var(--spacing));
    display: inline-block;
}

.selected-container p{
    padding-inline: initial;
    padding-block-start: initial;
    font-family: var(--heading-font);
    font-size: calc(0.8*var(--spacing));
    line-height: calc(1.4*var(--spacing));
    max-inline-size: 50ch;
}

.selected-container::before {
    content: "";
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    inline-size: 1em;
    block-size: 1em;
    border: var(--border) solid var(--black);
    background: var(--light-grey);
}

.selected-container::after {
    content: "";
    position: absolute;
    bottom: -0.5em;
    left: -0.5em;
    inline-size: 1em;
    block-size: 1em;
    border: var(--border) solid var(--black);
    background: var(--light-grey);
}

/* 
.rhombus {
  aspect-ratio: 2 / 3;
  border-radius: 50%;
  corner-shape: bevel;
}

.octagon {
  aspect-ratio: 1;
  border-radius: calc(100% / (2 + sqrt(2)));
  corner-shape: bevel;
}

.plus {
  aspect-ratio: 1;
  border-radius: calc(100% / 3);
  corner-shape: notch;
}

.plus-alt {
  rotate: 45deg;
} */
