@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Silkscreen:wght@400;700&display=swap');

:root{
    --spacing: 1.5rem;
    --heading-font: "Chivo Mono", monospace;
    --body-font: "DM Sans", sans-serif;
    --pixel-font: "Silkscreen", sans-serif;

    --black: #2D2D2D;
    --green: #76EAD3;
    --pink: #D6ABFF;
    --orange: #FFAB73;
    --light-grey: #EEF2F6;
    --dark-grey: #d7dce2;
    --tab-color: #D1D7DD;

    background: var(--light-grey);
    color: var(--black);
    --border: 0.08rem;
}

html{scroll-behavior: smooth;}


/* ----- setting the main layout into grid structure ----- */
.main-layout {
    /* mobile default structure is stacked vertically like burger */
    display: grid;
    grid-template-columns: 1fr;
    /* naming the areas to access later in the desktop breakpoint */
    grid-template-areas:
        "nav"
        "article"
        "footer";
    min-height: 100vh;
}

nav {
    grid-area: nav;
    position: static;
    min-height: initial;
    display: block;
}

article {
    grid-area: article;
}

footer {
    grid-area: footer;
}


/* ------ setting the design styles of color, typeface, etc. ------ */
nav, footer {
    padding-inline: 4%;
    padding-block: var(--spacing);
    background: var(--black);
    text-transform: uppercase;
    color: var(--light-grey);
    font-family: var(--heading-font);
    font-size: calc(1*var(--spacing));
}

nav ol {
    display: flex;
    flex-direction: row;
    gap: calc(2*(var(--spacing)));
    justify-content: space-between;
}

footer ol {
    display: flex;
    flex-direction: column;
    gap: calc(4*(var(--spacing)));
    justify-content: space-between;
}

footer li:first-child {
    opacity: 70%;
    text-align: right;
}

/* .main-layout {
    margin-block-end: calc(8*var(--spacing));
} */

/* ------------- headings and body text -------------- */
.h2-wrap {
    position: sticky;
    top: 0;
    background: var(--light-grey);
    z-index: 1;
    margin-block-start: calc(6*var(--spacing));
}

h2 {
    font-family: var(--heading-font);
    font-weight: 400;
    text-transform: uppercase;
    font-size: calc(1.5*var(--spacing));
    border: solid var(--black) var(--border);
    padding-block: 0.25em;
    margin-inline-start: 4%;
    inline-size: 96%;
    position: sticky;
    top: calc(1*var(--spacing));
    z-index: 1;
}

p {
    font-family: var(--body-font);
    font-size: calc(0.75*var(--spacing));
    line-height: calc(1.4*var(--spacing));
    padding-inline: 4%;
    padding-block-start: calc(1.4*var(--spacing));
    max-inline-size: 70ch;
}

header p {
    padding-inline: initial;
}

section {
    padding-block-end: calc(1*var(--spacing));
}

/* ------------- blockquote -------------- */
blockquote {
    font-family: var(--heading-font);
    font-size: calc(0.8*var(--spacing));
    line-height: calc(1.4*var(--spacing));
    padding-inline-start: calc(2*var(--spacing));
    margin-inline: 4%;
    padding-block-start: calc(2.4*var(--spacing));
    max-inline-size: 50ch;
    margin-block-start: calc(4*var(--spacing));
    margin-block-end: calc(3.5*var(--spacing));
    position: relative;
}

blockquote ol {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    padding-block-start: var(--spacing);
}

blockquote li:last-child{
    text-transform: uppercase;
}

/* -- this is quotation mark -- */
blockquote::before{
    content: '“';
    font-family: var(--heading-font);
    font-size: calc(8.5*var(--spacing));
    line-height: var(--spacing);
    /* this line is for text stroke which I learned from https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/-webkit-text-stroke */
    -webkit-text-stroke: calc(0.7*var(--border)) var(--black);
    position: absolute;
    left: var(--spacing);
}

/* -- this is vertical line -- */
blockquote::after{
    content: '';
    font-family: var(--heading-font);
    inline-size: calc(0.8*var(--spacing));
    block-size: 100%;

    box-shadow: 
        -0.04em  -0.04em  0  var(--black), 
         0.04em  -0.04em  0  var(--black), 
        -0.04em   0.04em  0  var(--black), 
         0.04em   0.04em  0  var(--black);

    /* Almost the same thing above, but i want to go for simpler way

        box-shadow: 
        calc(-1*var(--border)) calc(-1*var(--border)) 0 var(--black), 
        var(--border) calc(-1*var(--border)) 0 var(--black), 
        calc(-1*var(--border)) var(--border) 0 var(--black), 
        var(--border) var(--border) 0 var(--black); 
     */

    position: absolute;
    top: 0;
    left: 0;
}

/* ------------- class -------------- */
.pixel-font{
    font-family: var(--pixel-font);
    font-size: calc(2.2*var(--spacing));
    font-weight: 500;
}

.highlight {
    color: var(--dark-grey);
    background: var(--black);
    font-weight: 350;
    font-size: calc(0.7*var(--spacing));
    padding-inline: calc(0.2*var(--spacing));
}

a {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-style: solid;
}

.bolded-text{
    text-transform: uppercase;
    font-family: var(--heading-font);
    padding-block-start: calc(2.8*var(--spacing));
    padding-block-end: calc(1.4*var(--spacing));
    max-inline-size: 60ch;
    margin-inline: 8%;
}

.window-container {
    background: var(--dark-grey);
    border: var(--border) solid var(--black);
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-inline: 4%;
    margin-block: calc(2*var(--spacing));
    box-shadow: 0.6em -0.6em 0 var(--black);
}

.window-container ol {
    display: flex;
    flex-direction: column;
    gap: calc(3*var(--spacing));
    background: var(--dark-grey);
    padding-inline: 6%;
    padding-block: calc(2*var(--spacing));
}

.window-container p {
    margin: initial;
    padding-block: initial;
}

.folded-container-wrap {
    filter: drop-shadow(0.6em -0.6em 0 var(--black));
    margin-inline: 8%;
}

.folded-container {
    position: relative;
    margin-inline: 4%;
    margin-block-end: calc(2*var(--spacing));
    margin-block-start: calc(4*var(--spacing));
    background: var(--dark-grey);
    border: var(--border) solid var(--black);
    /* corner-shape: bevel;
    border-radius: 0 calc(4*var(--spacing)) 0 0; */
    max-inline-size: calc(20*var(--spacing));
    /* my fancy cut-out corner learned from professors Rijk and Michael on slack*/
    clip-path: polygon(
        0% 0%, /* top Left */
        calc(100% - calc(4*var(--spacing))) 0%, /* top point of cut-out */
        100% calc(4*var(--spacing)),         /* bottom point of cut-out */
        100% 100%, /* bottom right */
        0% 100%    /* bottom left */
    );
}

.folded-container p {
    font-family: var(--heading-font);
    font-size: calc(0.8*var(--spacing));
    line-height: calc(1.4*var(--spacing));
    padding-inline: calc(1.2*var(--spacing));
    padding-block-end: calc(1.4*var(--spacing));
    padding-block-start: calc(5*var(--spacing));
    text-transform: uppercase;
}

/* --- this is folded corner --- */
.folded-container::before {
    content: '';
    position: absolute;
    top: calc(0.8*var(--spacing));
    right: calc(0.8*var(--spacing));
    inline-size: calc(3.2*var(--spacing));
    block-size: calc(3.2*var(--spacing));
    
    /* drawing the L-shaped line using borders */
    border-left: var(--border) solid var(--black);
    border-bottom: var(--border) solid var(--black);
}

/* --- this is question mark --- */
.folded-container::after {
    content: '?';
    position: absolute;
    font-family: var(--pixel-font);
    font-size: calc(4.5*var(--spacing));
    line-height: var(--spacing);
    /* this line is for text stroke which I learned from https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/-webkit-text-stroke */
    -webkit-text-stroke: calc(0.7*var(--border)) var(--black);
    top: calc(2*var(--spacing));
    left: calc(0.7*var(--spacing));
}

/* NOT WORKING....
.section{
    margin-block: calc(2*var(--spacing));
} */

/*
    create nice shape-1, shape-2 by using bevel corners...
*/

.selected-container {
    border: solid var(--border) var(--black);
    position: relative;
    margin-inline: 12%;
    margin-block-start: calc(2*var(--spacing));
    /* margin-block-end: calc(0*var(--spacing)); */
    padding: calc(1.2*var(--spacing));
    display: inline-block;
    max-inline-size: 70ch;
    
    /* the following lines are creating the grid background by combining the horizontal and vertical lines*/
    background-image: 
        /* it's the vertical lines to the right) */
        linear-gradient(to right, var(--dark-grey) 1px, transparent 1px),
        /* it's the horizontal lines to the bottom) */
        linear-gradient(to bottom, var(--dark-grey) 1px, transparent 1px);
        
    /*change the values to keep the cells smaller or bigger*/
    background-size: calc(1.2*var(--spacing)) calc(1.2*var(--spacing));
    
    /* prevents the grid from moving when the user scrolls, and keeps it still/locked */
    /* background-attachment: fixed;  */

}

.selected-container p{
    padding-inline: initial;
    padding-block-start: initial;
    font-family: var(--heading-font);
    font-size: calc(0.8*var(--spacing));
    line-height: calc(1.4*var(--spacing));
    max-inline-size: 50ch;
}

.selected-container::before {
    content: "";
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    inline-size: 1em;
    block-size: 1em;
    border: var(--border) solid var(--black);
    background: var(--black);
}

.selected-container::after {
    content: "";
    position: absolute;
    bottom: -0.5em;
    left: -0.5em;
    inline-size: 1em;
    block-size: 1em;
    border: var(--border) solid var(--black);
    background: var(--black);
}

.sticky-group {
    margin-inline-start: 12%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing);
    margin-block: calc(2*var(--spacing));
}

.sticky-container {
    padding-inline-end: calc(1.2*var(--spacing));
    padding-inline-start: calc(1.2*var(--spacing));
    border: var(--border) solid var(--black);

    /* my fancy cut-out corner learned from professors Rijk and Michael on slack*/
    clip-path: polygon(
        0% 0%, /* top Left */
        100% 0%, /* top right */
        100% 100%, /* bottom right */
        calc(0.8*var(--spacing)) 100%, /* bottom-left side, start of cut */
        0% calc(100% - calc(0.8*var(--spacing)))  /* left side, end of cut */
    );

    padding-block: var(--spacing);
    display: inline-block;
    position: relative;
    max-inline-size: 50ch;

    /* the following lines are creating the grid background by combining the horizontal and vertical lines*/
    background-image: 
        /* it's the vertical lines to the right) */
        /* linear-gradient(to right, var(--dark-grey) 1px, transparent 1px), */
        /* it's the horizontal lines to the bottom) */
        linear-gradient(to bottom, var(--dark-grey) 1px, transparent 1px);
        
    /*change the values to keep the cells smaller or bigger*/
    background-size: calc(1.5*var(--spacing)) calc(1.5*var(--spacing));
}


.sticky-container::before {
    content: '';
    inline-size: calc(0.8*var(--spacing));
    block-size: calc(0.8*var(--spacing));
    background: var(--black);
    position: absolute;
    bottom: 0;
    left: 0;
}

.sticky-container p{
    margin-inline: initial;
    padding: initial;
    font-family: var(--heading-font);
    line-height: calc(1.2*var(--spacing));
}


/* 
.rhombus {
  aspect-ratio: 2 / 3;
  border-radius: 50%;
  corner-shape: bevel;
}

.octagon {
  aspect-ratio: 1;
  border-radius: calc(100% / (2 + sqrt(2)));
  corner-shape: bevel;
}

.plus {
  aspect-ratio: 1;
  border-radius: calc(100% / 3);
  corner-shape: notch;
}

.plus-alt {
  rotate: 45deg;
} */


/* ----- LANDING PAGE DESIGN ------ */

.landing-title {
    text-transform: uppercase;
    font-family: var(--heading-font);
    font-size: var(--spacing);
}

.landing-text {
    padding-block: calc(2*var(--spacing));
}

.landing-text p {
    padding-block-start: calc(0.8*var(--spacing));
}

#padding-remover {
    padding-block-end: initial;
}

/* 
.window-1 {
    box-shadow: inset 0 -0.5em var(--green);
} */


/* --------- DESKTOP/TABLET BREAKPOINT ADJUSTMENTS ------- */
@media(width>1000px) {
    :root {
        font-size: 115%;
    }

    /* ----- changing the specifics of grid ----- */
    .main-layout {
        /* redefining the layout structure of content (previously set to be stacked burger) */

        /* sidebar (nav + footer) takes 20% of the screen width, and rest of the content will fill up the space */
        grid-template-columns: 20% 1fr;

        /* nav row, content row, footer row */
        grid-template-rows: auto 1fr auto;

        /* footer goes below nav, but article must spans both rows */
        grid-template-areas:
            "nav    content"
            "nav    content"
            "footer content";
        min-block-size: 100vh;
    }

    /* nav must positioned in the first column*/
    nav {
        grid-area: nav;
        position: sticky;
        top: 0;
        min-block-size: 100vh;
        padding-inline: 20%;
        padding-block: calc(2*var(--spacing));

        /* setting the internal content of nav to be vertical stacking */
        /* display: flex; */
        flex-direction: column;
        justify-content: space-between;
    }

    /* article must positioned in the second column*/
    article {
        grid-area: content;

        /* make article span the entire height (nav row and its own row) */
        grid-row: nav / span 2;
    }

    /* footer must positioned in the first column, but bottom row*/
    footer {
        grid-area: footer;
        padding-inline: 20%;
        padding-block: calc(2*var(--spacing));
        font-size: calc(0.8*var(--spacing));
    }

    nav ol {
        flex-direction: column;
        position: sticky;
        top: calc(2*var(--spacing));
        /* gap: calc(3*(var(--spacing))); */
    }

    footer ol {
        gap: calc(1*(var(--spacing)));
    }

    footer li:first-child {
        opacity: 70%;
        text-align: left;
    }

    /* ----- changing the specifics of heading, p, and classes ----- */
    h2 {
        margin-inline-start: 12%;
    }

    .h2-wrap {
        margin-block-end: calc(1.5*var(--spacing));
    }

    p,
    .folded-container {
        margin-inline: 8%;
        max-inline-size: 70ch;
    }

    .folded-container p {
        font-size: 150%;
        margin-inline: initial;
        line-height: calc(1.8*var(--spacing));
        padding-block-start: calc(5.5*var(--spacing));
    }

    .selected-container {
        margin-inline: 8%;
        margin-block: calc(3*var(--spacing));
    }

    blockquote,
    .bolded-text {
        margin-inline: 20%;
        max-inline-size: 50ch;
    }

    section {
        margin-inline: auto;
    }

    .two-column {
        display: flex;
        flex-direction: row;
        margin-block-start: calc(1.4*var(--spacing));
        /* gap: calc(1*var(--spacing)); */
    }

    .two-column p{
        margin-inline: initial;
        padding-inline: initial;
        max-inline-size: 50ch;
    }

    .sticky-group {
        margin-inline-start: 16%;
        margin-block-start: calc(3*var(--spacing));
    }
}