@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Silkscreen:wght@400;700&display=swap');

:root{
    --spacing: 1.5rem;
    --heading-font: "Chivo Mono", monospace;
    --body-font: "DM Sans", sans-serif;
    --pixel-font: "Silkscreen", sans-serif;

    --black: #2D2D2D;
    --green: #76EAD3;
    --pink: #D6ABFF;
    --orange: #FFAB73;
    --light-grey: #EEF2F6;
    --dark-grey: #d7dce2;
    --tab-color: #D1D7DD;

    background: var(--light-grey);
    color: var(--black);
    --border: 0.08rem;
}

html{scroll-behavior: smooth;}


/* ----- setting the main layout into grid structure ----- */
.main-layout {
    /* mobile default structure is stacked vertically like burger */
    display: grid;
    grid-template-columns: 1fr;
    /* naming the areas to access later in the desktop breakpoint */
    grid-template-areas:
        "nav"
        "article"
        "footer";
    min-height: 100vh;
}

nav {
    grid-area: nav;
    position: static;
    min-height: initial;
    display: block;
}

article {
    grid-area: article;
}

footer {
    grid-area: footer;
}


/* ------ setting the design styles of color, typeface, etc. ------ */
nav, footer {
    padding-inline: 4%;
    padding-block: var(--spacing);
    background: var(--black);
    text-transform: uppercase;
    color: var(--light-grey);
    font-family: var(--heading-font);
    font-size: calc(1*var(--spacing));
}

nav ol {
    display: flex;
    flex-direction: row;
    gap: calc(2*(var(--spacing)));
    justify-content: space-between;
}

footer ol {
    display: flex;
    flex-direction: column;
    gap: calc(4*(var(--spacing)));
    justify-content: space-between;
}

footer li:first-child {
    opacity: 70%;
    text-align: right;
}

/* --------- DESKTOP/TABLET BREAKPOINT ADJUSTMENTS ------- */
@media(width>1000px) {
    :root {
        font-size: 115%;
    }

    /* ----- changing the specifics of grid ----- */
    .main-layout {
        /* redefining the layout structure of content (previously set to be stacked burger) */

        /* sidebar (nav + footer) takes 20% of the screen width, and rest of the content will fill up the space */
        grid-template-columns: 20% 1fr;

        /* nav row, content row, footer row */
        grid-template-rows: auto 1fr auto;

        /* footer goes below nav, but article must spans both rows */
        grid-template-areas:
            "nav    content"
            "nav    content"
            "footer content";
        min-block-size: 100vh;
    }

    /* nav must positioned in the first column*/
    nav {
        grid-area: nav;
        position: sticky;
        top: 0;
        min-block-size: 100vh;
        padding-inline: 20%;
        padding-block: calc(2*var(--spacing));

        /* setting the internal content of nav to be vertical stacking */
        /* display: flex; */
        flex-direction: column;
        justify-content: space-between;
    }

    /* article must positioned in the second column*/
    article {
        grid-area: content;

        /* make article span the entire height (nav row and its own row) */
        grid-row: nav / span 2;
    }

    /* footer must positioned in the first column, but bottom row*/
    footer {
        grid-area: footer;
        padding-inline: 20%;
        padding-block: calc(2*var(--spacing));
        font-size: calc(0.8*var(--spacing));
    }

    nav ol {
        flex-direction: column;
        position: sticky;
        top: calc(2*var(--spacing));
        /* gap: calc(3*(var(--spacing))); */
    }

    footer ol {
        gap: calc(1*(var(--spacing)));
    }

    footer li {
        opacity: 70%;
        text-align: center;
        font-size: calc(2*var(--spacing);)
    }
}