@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Silkscreen:wght@400;700&display=swap');

:root{
    --spacing: 1.5rem;
    --heading-font: "Chivo Mono", monospace;
    --body-font: "DM Sans", sans-serif;
    --pixel-font: "Silkscreen", sans-serif;

    --black: #2D2D2D;
    --green: #76EAD3;
    --pink: #D6ABFF;
    --orange: #FFAB73;
    --light-grey: #EEF2F6;
    --dark-grey: #d7dce2;
    --tab-color: #D1D7DD;

    background: var(--light-grey);
    color: var(--black);
    --border: 0.08rem;
}

html{scroll-behavior: smooth;}


/* ----- setting the main layout into grid structure ----- */
.main-layout {
    /* mobile default structure is stacked vertically like burger */
    display: grid;
    grid-template-columns: 1fr;
    /* naming the areas to access later in the desktop breakpoint */
    grid-template-areas:
        "nav"
        "article"
        "footer";
    min-height: 100vh;
}

nav {
    grid-area: nav;
    position: static;
    min-height: initial;
    display: block;
}

article {
    grid-area: article;
}

footer {
    grid-area: footer;
}


/* ------ setting the design styles of color, typeface, etc. ------ */
nav, footer {
    padding-inline: 4%;
    padding-block: var(--spacing);
    background: var(--black);
    text-transform: uppercase;
    color: var(--light-grey);
    font-family: var(--heading-font);
    font-size: calc(1*var(--spacing));
}

nav ol {
    display: flex;
    flex-direction: row;
    gap: calc(2*(var(--spacing)));
    justify-content: space-between;
}

footer ol {
    display: flex;
    flex-direction: column;
    gap: calc(4*(var(--spacing)));
    justify-content: space-between;
}

footer li:first-child {
    opacity: 70%;
    text-align: right;
}

.styled-image {
    filter: grayscale(30%);
    block-size: 50%;
    align-items: center;
    top: 0;
}

img {
    block-size: calc(12*var(--spacing));
    inline-size: 100%;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: column;
    margin: var(--spacing);
}

h1 {
    font-family: var(--body-font);
    font-size: calc(1.8*var(--spacing));
    font-weight: 900;
    line-height: calc(2.2*var(--spacing));
    text-transform: uppercase;
    padding-block-end: var(--spacing);
    padding-block-start: var(--spacing);

}

.bolded-text {
    text-transform: uppercase;
    font-family: var(--heading-font);
    padding-block-start: calc(2.8*var(--spacing));
    padding-block-end: calc(1.4*var(--spacing));
    max-inline-size: 60ch;
    margin-inline: 8%;
}

h2 {
    text-transform: uppercase;
    font-family: var(--heading-font);
    padding-block-start: calc(2.8*var(--spacing));
    max-inline-size: 60ch;
    margin-inline: 4%;
    font-size: calc(1.5*var(--spacing));
}

p {
    font-family: var(--body-font);
    font-size: calc(0.75*var(--spacing));
    line-height: calc(1.4*var(--spacing));
    padding-inline: 4%;
    padding-block-start: calc(1.4*var(--spacing));
    max-inline-size: 70ch;
}

footer {
    margin-block-start: calc(4*var(--spacing));
}

.footer-svg-line {
    display: block;
    width: 90%;
    height: 10px;
    margin: 0 auto calc(1.5 * var(--spacing)) auto; 
    overflow: visible;
}

.svg-footer-stroke {
    fill: var(--light-grey); 
    stroke: none;
}

.window-container {
    background: var(--dark-grey);
    border: var(--border) solid var(--black);
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-inline: 4%;
    margin-block: calc(2*var(--spacing));
    box-shadow: 0.6em -0.6em 0 var(--black);
}

.window-container ol {
    display: flex;
    flex-direction: column;
    gap: calc(3*var(--spacing));
    background: var(--dark-grey);
    padding-inline: 6%;
    padding-block: calc(2*var(--spacing));
}

.window-container p {
    margin: initial;
    padding-block: initial;
}


/* -------- styling for first box --------- */
.one {
    font-family: var(--heading-font);
    font-size: calc(2.2*var(--spacing));
    font-weight: 550;
    line-height: calc(2.5*var(--spacing));
    text-transform: uppercase;
    letter-spacing: calc(-0.1*var(--spacing));
}

.pixel-font{
    font-family: var(--pixel-font);
    font-size: calc(2*var(--spacing));
    font-weight: 500;
}

.decos {
    display: flex;
    flex-direction: row;
    gap: calc(1*var(--spacing));
    overflow: hidden;
    position: relative;
}

.one-deco-1,
.one-deco-2,
.one-deco-3 {
    display: block;
    inline-size: calc(3*var(--spacing));
    block-size: calc(3*var(--spacing));
    background: var(--green);
    border: var(--border) solid var(--black);
    position: relative;

    /* my fancy cut-out corner learned from professors Rijk and Michael on slack*/
    clip-path: polygon(
        0% 0%, /* top Left */
        100% 0%, /* top right */
        100% 100%, /* bottom right */
        calc(0.5*var(--spacing)) 100%, /* bottom-left side, start of cut */
        0% calc(100% - calc(0.5*var(--spacing)))  /* left side, end of cut */
    );

    margin-block: var(--spacing);
}

.one-deco-1::before,
.one-deco-2::before,
.one-deco-3::before {
    content: '';
    font-family: var(--heading-font);
    inline-size: calc(0.5*var(--spacing));
    block-size: calc(0.5*var(--spacing));
    background: var(--black);
    position: absolute;
    bottom: 0;
    left: 0;
}

/* -------- styling for second box --------- */
.second {
    font-family: var(--body-font);
    font-size: calc(2.3*var(--spacing));
    font-weight: 700;
    letter-spacing: calc(0.14*var(--spacing));
    line-height: calc(3*var(--spacing));
    text-transform: uppercase;
}

.second-deco {
    border: var(--border) solid var(--black);

    /* --- I learned this rotating animation from here https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/At-rules/@keyframes */
    
    /* treating it as a block to make it move/animate */
    display: inline-block;
    /* transition takes 0.5s and uses an ease-in-out timing */
    transition: 0.5s ease-in-out; 

    /* animation: custom name | duration of one full cycle | timing function | iteration-count | delay */
    animation: rotating 4s ease infinite 0s;
}

.second-deco {
    background: var(--pink);
    font-weight: 250;
    padding-inline: calc(0.7*var(--spacing));
}

/* -------- styling for third box --------- */
.third {
    font-family: var(--body-font);
    font-size: calc(2.3*var(--spacing));
    font-weight: 700;
    line-height: calc(2.8*var(--spacing));
    text-transform: uppercase;
    padding-inline-start: calc(4*var(--spacing));
}

.stretching-box {
    position: relative;
}

.third-deco {
    display: block;
    inline-size: calc(3*var(--spacing));
    block-size: calc(7.3*var(--spacing));
    background: var(--green);
    border: var(--border) solid var(--black);
    position: absolute;
    background: var(--orange);
    border: var(--border) solid var(--black);
    top: 0.6em;
    left: 60%;
}