/* -------- importing fonts ---------- */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kode+Mono:wght@400..700&display=swap');

/* -------- setting the CSS variables ---------- */
:root{
    --spacing: 1.5rem;
    --heading-1-font: "Kode Mono", serif;
    --heading-2-font: "DM Mono", serif;
    --body-font: "DM Sans", sans-serif;

    --black: #242424;
    --green: #76EAD3;
    --orange: #E34309;
    --light-grey: #EEF2F6;
    --dark-grey: #DBE2EA;
    --tab-color: #D1D7DD;

    background: var(--light-grey);
}

html{scroll-behavior: smooth;}

/* -------- main layout and colors ---------- */

/* ---- nav and footer ---- */
nav, 
footer {
    padding: 5%;
    background: var(--black);
    color: var(--light-grey);
    text-transform: uppercase;
}

nav ol,
nav p{
    display: flex;
    flex-direction: row;
    gap: 10%;
    padding-block-start: var(--spacing);
    flex-wrap: wrap;
    font-family: var(--heading-2-font);
}


/* ---- headers, paragraph, and blockquote ---- */
h1 {
    font-family: var(--heading-1-font);
    font-size: calc(5*var(--spacing));
    line-height: calc(*var(--spacing));
    display: inline-block;
    box-shadow: inset 0 -0.5em var(--green);
    letter-spacing: -0.01em;
}

h2 {
    font-family: var(--heading-2-font);
    font-weight: 500;
    text-transform: uppercase;
    font-size: calc(2.5*var(--spacing));
    background: var(--green);
    padding-inline: 4%;
    padding-block: 0.25em;
    border-block: solid var(--black) 0.03em;
    position: sticky;
    top:0;
    margin-block-start: calc(12*var(--spacing));
    margin-block-end: calc(2*var(--spacing));
}

/* ------------------------------------------ !!! This first child is not working */
/* h2 > :first-child {
    margin-block-start: initial;
    } */
    
    p {
        font-family: var(--body-font);
        font-size: calc(1.8*var(--spacing));
        line-height: calc(3.2*var(--spacing));
        padding-inline: 4%;
        padding-block-start: calc(2*var(--spacing));
        max-inline-size: 60ch;
    }
    
    
    nav ol,
    nav p,
    .window-container p{
        padding-inline: initial;
        font-family: var(--heading-2-font);
        font-size: calc(1.8*var(--spacing));
        line-height: calc(3.2*var(--spacing));
    }
    
    nav p, 
    .window-container p{
        padding-block: initial;
    }
    
    blockquote{
        background: var(--dark-grey);
        padding-block: calc(3*var(--spacing));
        padding-inline: calc(3*var(--spacing));
        margin-block: calc(4*var(--spacing));
        margin-inline-start: calc(3*var(--spacing));
        border-inline-start: solid var(--green) var(--spacing);
    }
    
    blockquote li {
        font-family: var(--heading-2-font);
        font-weight: 400;
        font-size: calc(1.75*var(--spacing));
        letter-spacing: -0.05em;
        line-height: calc(3.2*var(--spacing));
        padding-block-start: calc(2*var(--spacing));
        max-inline-size: 60ch;  
    }
    
    /* ------------------------------------------ !!! Hanging punctuation is not working */
    /* blockquote p::before { 
        content: '“'; 
        margin-inline-start: -0.4em;
        }
        
        blockquote p::after { 
            content: '”'; 
            } */
            
            
            /* ---- classes ---- */
            
            .bolded-text {
                font-family: var(--heading-2-font);
                text-transform: uppercase;
                font-weight: 450;
                padding-block: calc(4*var(--spacing));
                text-decoration: underline;
                text-decoration-color: var(--green);
                text-decoration-thickness: 0.2em;
            }
            
            .orange-text{
                font-style: italic;
                color: var(--orange);
                font-weight: 500;
            }
            
            
            /* ---- window container  ---- */
            .window-container {
                background: var(--dark-grey);
                border: 0.2em solid var(--black);
                /* margin-inline: 4% */
                align-items: center;
                overflow: hidden;
                position: relative;
                margin-inline: calc(2*var(--spacing));
                margin-block: calc(4*var(--spacing));
                inline-size: 100%;
            }

            .window-container ol {
                display: flex;
                flex-direction: column;
                gap: calc(8*var(--spacing));
                background: var(--dark-grey);
                padding-inline: 6%;
                padding-block-start: calc(3*var(--spacing));
                padding-block-end: calc(6*var(--spacing));
            }

            .window-tab ol{
                background: var(--green);
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 0.5em;
                border-top: 0.2em solid var(--black);
            }
            
            .window {
                display: flex;
                flex-direction: column;
                gap:0;
                inline-size: 85%;
            }
/* 
.window-content {
    background-color: #dae2e8;
    padding: 20px;
    color: #333;
    line-height: 1.4;
    position: relative;
    min-height: 250px;
}

.window-content::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 90%; 
    height: 90%; 
    border: 1px solid #c0c4c8;
    border-radius: 4px;
    z-index: 0;
}

.metadata {
    font-size: 14px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.main-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
    word-break: break-word;
    position: relative;
    z-index: 1;
} */

