h1 {
    box-shadow: inset 0 -0.5em var(--green);
}

h2 {
    background: var(--green);

    padding-inline: calc(4% + calc(1.2*var(--spacing)));
    max-inline-size: calc(30*var(--spacing));

    /* my fancy cut-out corner learned from professors Rijk and Michael on slack*/
    clip-path: polygon(
        0% 0%, /* top Left */
        100% 0%, /* top right */
        100% 100%, /* bottom right */
        calc(1*var(--spacing)) 100%, /* bottom-left side, start of cut */
        0% calc(100% - calc(1*var(--spacing)))  /* left side, end of cut */
    );
}


h2::before {
    content: '';
    font-family: var(--heading-font);
    inline-size: calc(1*var(--spacing));
    block-size: calc(1*var(--spacing));
    background: var(--black);
    position: absolute;
    bottom: 0;
    left: 0;
}

.highlight {
    text-decoration-color: var(--green);
    text-decoration-line: underline;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 0.29em;
}

blockquote::before {
    color: var(--green);
}

blockquote::after {
    background: var(--green);
}

.folded-container::after {
    color: var(--green);
}