h1 {
    font-family: var(--heading-font);
    font-size: calc(2*var(--spacing));
    font-weight: 550;
    line-height: calc(2.5*var(--spacing));
    /* display: inline-block; */
    text-transform: uppercase;
    padding-inline: 4%;
}

.h1-deco::before {
    content: '';
    inline-size: calc(3*var(--spacing));
    block-size: calc(3*var(--spacing));
    background: var(--green);
    position: absolute;
    bottom: 0;
    left: 0;
    /* my fancy cut-out corner learned from professors Rijk and Michael on slack*/
    clip-path: polygon(
        0% 0%, /* top Left */
        100% 0%, /* top right */
        100% 100%, /* bottom right */
        calc(0.5*var(--spacing)) 100%, /* bottom-left side, start of cut */
        0% calc(100% - calc(0.5*var(--spacing)))  /* left side, end of cut */
    );
}

.h1-deco::after {
    content: '';
    font-family: var(--heading-font);
    inline-size: calc(0.5*var(--spacing));
    block-size: calc(0.5*var(--spacing));
    background: var(--black);
    position: absolute;
    bottom: 0;
    left: 0;
}

.h2-wrap {
    background: initial;
}

h2 {
    background: var(--green);
    padding-inline: calc(4% + calc(1.2*var(--spacing)));
    /* max-inline-size: calc(35*var(--spacing)); */
    /* margin-inline: 4%; */

    /* my fancy cut-out corner learned from professors Rijk and Michael on slack*/
    clip-path: polygon(
        0% 0%, /* top Left */
        100% 0%, /* top right */
        100% 100%, /* bottom right */
        calc(1*var(--spacing)) 100%, /* bottom-left side, start of cut */
        0% calc(100% - calc(1*var(--spacing)))  /* left side, end of cut */
    );
}


h2::before {
    content: '';
    font-family: var(--heading-font);
    inline-size: calc(1*var(--spacing));
    block-size: calc(1*var(--spacing));
    background: var(--black);
    position: absolute;
    bottom: 0;
    left: 0;
}

blockquote::before {
    color: var(--green);
}

blockquote::after {
    background: var(--green);
}

.folded-container::after {
    color: var(--green);
}

@media(width>1000px) {
    .h2-wrap {
        padding-block-start: var(--spacing);
        background: var(--light-grey);
    }
}