h1 {
    font-family: var(--heading-font);
    font-size: calc(2.2*var(--spacing));
    font-weight: 550;
    line-height: calc(2.5*var(--spacing));
    text-transform: uppercase;
    letter-spacing: calc(-0.1*var(--spacing));
}

.pixel-font{
    font-family: var(--pixel-font);
    font-size: calc(2.4*var(--spacing));
    font-weight: 500;
}

.decos {
    display: flex;
    flex-direction: row;
    gap: calc(1*var(--spacing));
    overflow: hidden;
    position: relative;
}

.h1-deco-1,
.h1-deco-2,
.h1-deco-3 {
    display: block;
    inline-size: calc(3*var(--spacing));
    block-size: calc(3*var(--spacing));
    background: var(--green);
    border: var(--border) solid var(--black);
    position: relative;

    /* my fancy cut-out corner learned from professors Rijk and Michael on slack*/
    clip-path: polygon(
        0% 0%, /* top Left */
        100% 0%, /* top right */
        100% 100%, /* bottom right */
        calc(0.5*var(--spacing)) 100%, /* bottom-left side, start of cut */
        0% calc(100% - calc(0.5*var(--spacing)))  /* left side, end of cut */
    );

    margin-block: var(--spacing);
}

.h1-deco-1::before,
.h1-deco-2::before,
.h1-deco-3::before {
    content: '';
    font-family: var(--heading-font);
    inline-size: calc(0.5*var(--spacing));
    block-size: calc(0.5*var(--spacing));
    background: var(--black);
    position: absolute;
    bottom: 0;
    left: 0;
}

/* -----I learned this translateX() overlay method from MDN and complemented   
        with animation https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/transform-function/translateX ------*/

/* --- first box movement ---- */
@keyframes spread-1 {
    0% {
        /* first box does not move horizontally, so x=0 */
        transform: translateX(0); 
        /* also, it starts from invisible */
        opacity: 0;
    }

    /* then it becomes instantly visible at 1% */
    1% {
        opacity: 1;
    }

    100% {
        transform: translateX(0);
    }
}

/* --- second box movement ---- */
@keyframes spread-2 {

    /* second box starts by being moved to the left by a distance equal to one box width plus one gap width calc(-4 * var(--spacing)) */
    /* also, has little rotation by 5 degree */
    0% {
        transform: translateX(calc(-4 * var(--spacing))) rotate(5deg);
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        transform: translateX(0);
    }
}

/* --- third box movement ---- */
@keyframes spread-3 {
    0% {
        transform: translateX(calc(-8 * var(--spacing))) rotate(10deg);
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        transform: translateX(0); 
    }
}

/* below, each animation delay helps the animation to wait before starting. 
.h1-deco-2 and .h1-deco-3 have increasing delays (0.7s and 0.8s), which creates the staggered effect of the boxes spreading out one after the other */
.h1-deco-1 {
    animation: spread-1 2.5s ease-in-out infinite forwards;
    margin-inline-start: var(--spacing);
}

.h1-deco-2 {
    animation: spread-2 2.5s ease-in-out infinite forwards;
    animation-delay: 0.7s;
}

.h1-deco-3 {
    animation: spread-3 2.5s ease-in-out infinite forwards;
    animation-delay: 0.8s;
}


/* ----- h2 design ----- */
.h2-wrap {
    background: initial;
}

h2 {
    background: var(--green);
    padding-inline: calc(4% + calc(1.2*var(--spacing)));
    /* max-inline-size: calc(35*var(--spacing)); */
    /* margin-inline: 4%; */

    /* my fancy cut-out corner learned from professors Rijk and Michael on slack*/
    clip-path: polygon(
        0% 0%, /* top Left */
        100% 0%, /* top right */
        100% 100%, /* bottom right */
        calc(1*var(--spacing)) 100%, /* bottom-left side, start of cut */
        0% calc(100% - calc(1*var(--spacing)))  /* left side, end of cut */
    );
}


h2::before {
    content: '';
    font-family: var(--heading-font);
    inline-size: calc(1*var(--spacing));
    block-size: calc(1*var(--spacing));
    background: var(--black);
    position: absolute;
    bottom: 0;
    left: 0;
}

blockquote::before {
    color: var(--green);
}

blockquote::after {
    background: var(--green);
}

.folded-container::after {
    color: var(--green);
}

@media(width>600px) {
    h1 {
        font-size: calc(3.4*var(--spacing));
        font-weight: 500;
        line-height: calc(3.5*var(--spacing));
        letter-spacing: calc(-0.2*var(--spacing));
    }

    .pixel-font{
        font-size: calc(3.7*var(--spacing));
    }

    .h1-deco-1,
    .h1-deco-2,
    .h1-deco-3 {
    inline-size: calc(4*var(--spacing));
    block-size: calc(4*var(--spacing));
    }
}

@media(width>800px) {
    h1 {
        font-size: calc(4*var(--spacing));
        font-weight: 520;
        line-height: calc(4*var(--spacing));
        letter-spacing: calc(-0.2*var(--spacing));
    }

    .pixel-font{
        font-size: calc(4.4*var(--spacing));
    }
}

@media(width>1000px) {
    .h2-wrap {
        padding-block-start: var(--spacing);
        background: var(--light-grey);
    }

    .window-container {
        display: inline-block;
        padding-inline-end: 10%;
        margin-inline-start: 20%;
    }
}