




/* nav, 
footer {
    padding-inline: 4%;
    padding-block: var(--spacing);
    background: var(--black);
    color: var(--light-grey);
    text-transform: uppercase;
} 

footer {
    margin-block-start: calc(6*var(--spacing));
} 

nav ol,
nav p{
    display: flex;
    flex-direction: row;
    gap: var(--spacing);
    padding-block-start: var(--spacing);
    flex-wrap: wrap;
    font-family: var(--heading-2-font);
}

nav li:first-child{
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

footer p {
    font-size: calc(0.8*var(--spacing));
    font-family: var(--heading-2-font);
    padding-inline: initial;
    padding-block-end: var(--spacing);
}

a {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--black);
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.15em;
    transition: color 0.3s ease-in-out;
    font-family: var(--heading-2-font);
    text-transform: uppercase;
    /* margin-inline: var(--spacing); 
}

h1 {
    font-family: var(--heading-1-font);
    font-size: calc(2*var(--spacing));
    line-height: calc(2.5*var(--spacing));
    display: inline-block;
    box-shadow: inset 0 -0.5em var(--green);
    letter-spacing: -0.01em;
}

h2 {
    font-family: var(--heading-2-font);
    font-weight: 500;
    text-transform: uppercase;
    font-size: calc(1.1*var(--spacing));
    background: var(--green);
    padding-inline: 4%;
    padding-block: 0.25em;
    border-block: solid var(--black) 0.05em;
    position: sticky;
    top:0;
    margin-block-start: calc(4*var(--spacing));
    margin-block-end: calc(0.8*var(--spacing));
    z-index: 1;
}

    p {
        font-family: var(--body-font);
        font-size: calc(0.8*var(--spacing));
        line-height: calc(1.4*var(--spacing));
        padding-inline: 4%;
        padding-block-start: var(--spacing);
        max-inline-size: 60ch;
    }
    
    
    nav ol,
    nav p,
    .window-container p{
        padding-inline: initial;
        font-family: var(--heading-2-font);
        font-size: calc(0.8*var(--spacing));
        line-height: calc(1*var(--spacing));
        line-height: calc(1.2*var(--spacing));
    }
    
    nav p{
        padding-block: initial;
    }
    
    blockquote{
        background: var(--dark-grey);
        padding-block: calc(1.2*var(--spacing));
        padding-inline: calc(1.4*var(--spacing));
        margin-block: calc(2*var(--spacing));
        margin-inline-start: calc(1.6*var(--spacing));
        border-inline-start: solid var(--green) calc(0.3*var(--spacing));
    }
    
    blockquote li {
        font-family: var(--heading-2-font);
        font-weight: 400;
        font-size: calc(0.8*var(--spacing));
        letter-spacing: -0.05em;
        line-height: calc(1.4*var(--spacing));
        padding-block-start: calc(0.5*var(--spacing));
        max-inline-size: 60ch;
    }
    
            .bolded-text {
                font-family: var(--heading-2-font);
                text-transform: uppercase;
                font-weight: 450;
                padding-block: calc(1.4*var(--spacing));
                text-decoration: underline;
                text-decoration-color: var(--green);
                text-decoration-thickness: 0.2em;
            }
            
            .orange-text{
                font-style: italic;
                color: var(--orange);
                font-weight: 500;
            }
            */
            
            /* ---- window container  ---- 
            .window-container {
                background: var(--dark-grey);
                border: 0.1em solid var(--black);
                align-items: center;
                overflow: hidden;
                position: relative;
                margin-inline: 4%;
                margin-block: calc(2*var(--spacing));
                inline-size: 90%;
                box-shadow: 
                    0.4em 0.4em 0 var(--black),
                    0.5em 0.5em 0 var(--black),
                    0.6em 0.6em 0 var(--black),
                    0.7em 0.7em 0 var(--black),
                    0.8em 0.8em 0 var(--black),
                    0.9em 0.9em 0 var(--black);
            }

            .window-container ol {
                display: flex;
                flex-direction: column;
                gap: calc(1*var(--spacing));
                background: var(--dark-grey);
                padding-inline: 6%;
                padding-block: calc(2*var(--spacing));
            }

            .window-container p{
                padding-inline: var(--spacing);
                padding-block: calc(1.5*var(--spacing));
            } */