h1 {
    box-shadow: inset 0 -0.5em var(--green);
}

h2 {
    background: var(--green);
}

.highlight{
    text-decoration-color: var(--green);
}

blockquote::before {
    color: var(--green);
}

blockquote::after {
    background: var(--green);
}

.folded-container::after {
    color: var(--green);
}