h1 {
    box-shadow: inset 0 -0.5em var(--orange);
}

.h2-wrap {
    border-bottom: var(--border) solid var(--black);
    margin-inline: 4%;
}

.h2-wrap::before {
    content: "";
    position: absolute;
    top: 3.5em;
    right: 0em;
    inline-size: calc(0.62*var(--spacing));
    block-size: calc(0.62*var(--spacing));
    border: var(--border) solid var(--black);
    background: var(--black);
    /* border-bottom: var(--border) solid var(--black); */
}

h2 {
    background: var(--orange);
    padding-inline: 4%;
    /* max-inline-size: calc(25*var(--spacing)); */
    margin-inline-start: initial;
    inline-size: initial;

    /* to set the black line in the middle of orange box */
    display: inline-flex;
    align-items: center;
    position: relative;
    /* padding-block: 0;
    line-height: calc(2.49*var(--spacing)); */
}

h3{
    font-family: var(--pixel-font);
    letter-spacing: calc(-0.2*var(--spacing));
    font-size: calc(2.2*var(--spacing));
    font-weight: 400;
    text-transform: uppercase;
    padding-inline: 4%;

    /* this line is for text stroke which I learned from https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/-webkit-text-stroke */
    -webkit-text-stroke: calc(0.7*var(--border)) var(--black);
    color: var(--orange);

    margin-block-start: calc(4.5*var(--spacing));
}

/* h3::first-letter{
    font-family: var(--pixel-font);
    letter-spacing: calc(-0.2*var(--spacing));
    font-size: calc(1.7*var(--spacing));
    -webkit-text-stroke: calc(0.7*var(--border)) var(--black);
    color: var(--orange);
} */

blockquote::before {
    color: var(--orange);
}

blockquote::after {
    background: var(--orange);
}

.folded-container::after {
    color: var(--orange);
}

/* .bolded-text:first-of-type {
    margin-inline: initial;
} 

.window-container ol {
    gap: initial;
} */

/* CONSIDER CHANGING THIS STYLE */
.bold {
    text-transform: uppercase;
    font-family: var(--heading-font);
    padding-block-start: calc(2.8*var(--spacing));
    padding-block-end: calc(1.4*var(--spacing));
    max-inline-size: 50ch;
}

ul li{
    text-transform: uppercase;
    font-family: var(--heading-font);
    line-height: calc(1.2*var(--spacing));
    padding-block-start: calc(1.4*var(--spacing));
    margin-inline-start: 4%;
    max-inline-size: 50ch;
}

@media(width>1000px) {
    .h2-wrap {
        margin-inline-start: 8%;
    }
}