h1 {
    box-shadow: inset 0 -0.5em var(--orange);
}

.h2-wrap {
    border-bottom: var(--border) solid var(--black);
    margin-inline: 4%;
    margin-block-end: calc(1.5*var(--spacing));
}

.h2-wrap::before {
    content: "";
    position: absolute;
    top: 3.5em;
    right: 0em;
    inline-size: calc(0.62*var(--spacing));
    block-size: calc(0.62*var(--spacing));
    border: var(--border) solid var(--black);
    background: var(--black);
    /* border-bottom: var(--border) solid var(--black); */
}

h2 {
    background: var(--orange);
    padding-inline: 4%;
    /* max-inline-size: calc(25*var(--spacing)); */
    margin-inline-start: initial;
    inline-size: initial;

    /* to set the black line in the middle of orange box */
    display: inline-flex;
    align-items: center;
    position: relative;
    /* padding-block: 0;
    line-height: calc(2.49*var(--spacing)); */
}

h3{
    font-family: var(--pixel-font);
    letter-spacing: calc(-0.2*var(--spacing));
    font-size: calc(2.2*var(--spacing));
    font-weight: 400;
    text-transform: uppercase;
    padding-inline: 4%;

    /* this line is for text stroke which I learned from https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/-webkit-text-stroke */
    -webkit-text-stroke: calc(0.7*var(--border)) var(--black);
    color: var(--orange);

    margin-block-start: calc(4.5*var(--spacing));
}

/* h3::first-letter{
    font-family: var(--pixel-font);
    letter-spacing: calc(-0.2*var(--spacing));
    font-size: calc(1.7*var(--spacing));
    -webkit-text-stroke: calc(0.7*var(--border)) var(--black);
    color: var(--orange);
} */

blockquote::before {
    color: var(--orange);
}

blockquote::after {
    background: var(--orange);
}

.folded-container::after {
    color: var(--orange);
}

.sticky-container {
    padding-inline-end: calc(1.2*var(--spacing));
    padding-inline-start: calc(1.2*var(--spacing));
    margin-block-start: calc(1.5*var(--spacing));
    border: var(--border) solid var(--black);

    /* my fancy cut-out corner learned from professors Rijk and Michael on slack*/
    clip-path: polygon(
        0% 0%, /* top Left */
        100% 0%, /* top right */
        100% 100%, /* bottom right */
        calc(0.8*var(--spacing)) 100%, /* bottom-left side, start of cut */
        0% calc(100% - calc(0.8*var(--spacing)))  /* left side, end of cut */
    );

    text-transform: uppercase;
    font-family: var(--heading-font);
    font-weight: 500;
    line-height: calc(1.2*var(--spacing));
    padding-block: var(--spacing);
    display: inline-block;
    margin-inline-start: 12%;
    position: relative;

    /* the following lines are creating the grid background by combining the horizontal and vertical lines*/
    background-image: 
        /* it's the vertical lines to the right) */
        /* linear-gradient(to right, var(--dark-grey) 1px, transparent 1px), */
        /* it's the horizontal lines to the bottom) */
        linear-gradient(to bottom, var(--dark-grey) 1px, transparent 1px);
        
    /*change the values to keep the cells smaller or bigger*/
    background-size: calc(1.2*var(--spacing)) calc(1.2*var(--spacing));
}


.sticky-container::before {
    content: '';
    /* font-family: var(--heading-font); */
    inline-size: calc(0.8*var(--spacing));
    block-size: calc(0.8*var(--spacing));
    background: var(--black);
    position: absolute;
    bottom: 0;
    left: 0;
}

.sticky-container {
    margin-inline-end: initial;
}

/* .bolded-text:first-of-type {
    margin-inline: initial;
} 

.window-container ol {
    gap: initial;
} */

/* CONSIDER CHANGING THIS STYLE */
.bold {
    text-transform: uppercase;
    font-family: var(--heading-font);
    padding-block-start: calc(2.8*var(--spacing));
    padding-block-end: calc(1.4*var(--spacing));
    max-inline-size: 50ch;
}

ul li{
    text-transform: uppercase;
    font-family: var(--heading-font);
    line-height: calc(1.2*var(--spacing));
    padding-block-start: calc(1.4*var(--spacing));
    margin-inline-start: 4%;
    max-inline-size: 50ch;
}

@media(width>1000px) {
    .h2-wrap {
        margin-inline-start: 8%;
    }
}