h1 {
    box-shadow: inset 0 -0.5em var(--orange);
}

h2 {
    background: var(--orange);
}

h3{
    font-size: var(--spacing);
}

.highlight {
    text-decoration-color: var(--orange);
}

blockquote::before {
    color: var(--orange);
}

blockquote::after {
    background: var(--orange);
}